@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Oswald:wght@200..700&family=Roboto+Condensed:wght@300&family=Roboto+Mono&display=swap');

:root{
    --theme-colour: #0ea5e9;
    --font-colour: #e0f2fe;
}


body{
    background-color: var(--theme-colour);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    gap: 30px;
}

.headings{
    display: flex;
    flex-direction: column;
    color: var(--font-colour);
    font-family: "Oswald";
}

.headings #main{
    font-size: 4rem;
}

.headings #sub-title{
    font-size: 2rem;
    text-align: center;
}


.main{
    font-size: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: "Oswald";
    column-gap: 60px;
    row-gap: 30px;
    justify-items: center;
}

.main > div{
    background-color: var(--font-colour);
    height: 340px;
    width: 96%;
    border-style: none;
    border-radius: 8px;
}

#sensorcode-div{
    grid-column: 1/ 2;
    grid-row: 1/ 2;
}

#tagRSSI-div{
    grid-column: 2/ 3;
    grid-row: 1/ 2;
}

#tagEPC-div{
    grid-column: 1/ 3;
    grid-row: 2/ 3;
}

#sensorcode-div, #tagRSSI-div, #tagEPC-div{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#sensorcode-results, #tagRSSI-results, #tagEPC-results{
    font-size: 6rem;
}
